<!DOCTYPE html>
<html data-vue-meta-server-rendered {{{ meta.inject().htmlAttrs.text() }}}>
  <head><!-- index for default theme -->
  	{{{ meta.inject().title.text() }}}
		{{{ meta.inject().meta.text() }}}
		<meta name="generator" content="Vue Storefront">
		{{{ meta.inject().link.text() }}}
		{{{ output.appendHead() }}}
		<script src="assets/lib/three.js"></script> 
		<script src="assets/lib/v3d.js"></script>
	</head>
  <body>
		<!--vue-ssr-outlet-->
  </body>
</html>
